CompileFlags:
  CompilationDatabase: bin
  Add:
    [
      "-IC:/msys64/ucrt64/include",
      "-IC:/msys64/ucrt64/include/ucrt",
      "-IC:/msys64/ucrt64/include/crt",
      "-IC:/msys64/ucrt64/include/c++/12.2.0",
      "-IC:/msys64/ucrt64/include/c++/12.2.0/x86_64-w64-mingw32",
      "-IC:/msys64/ucrt64/usr/include",
    ]
